<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="================ D E M O  P R O J E C T ================">
    <test name="Module Test">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
